body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image-block-figure + .image-block-figure{
  margin-top: 4px;
}

.unstyled-focus-on{
  -moz-osx-font-smoothing: grayscale;
}

.unstyled-focus-on > div[data-offset-key]{
  position: relative;
  z-index: 100;
}


.unstyled-focus-off{
  -moz-osx-font-smoothing: grayscale;
}

.unstyled-focus-on > div[data-offset-key]{
  position: relative;
  z-index: 0;
}


.unstyled-block{
  -moz-osx-font-smoothing: grayscale;
  /* background-color:#faf; */
  /* background-color:cornflowerblue; */
  box-shadow: unset; 
  transition: all 3000ms;
}

.editing-block{
  -moz-osx-font-smoothing: grayscale;
  /* background-color:#faf; */
  /* background-color:cornflowerblue; */

  box-shadow: unset; 
  transition: all 3000ms;

  animation-duration: 3000ms;
  animation-name: colorEntering;
  animation-fill-mode: both;

}

@keyframes colorEntering{
  0% {
    background-color:unset;
   
  }
  100% {
    background-color: wheat;
 
  }
 
}






.unstyle-block-light{
  /* -moz-osx-font-smoothing: grayscale; */

  transition: all 300ms;
}



.editor-block-light{
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgoldenrodyellow;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
  transition: all 300ms;
}


.editor-block-dark{
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat;
  box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
  transition: all 300ms;
}



.editor-block-light-dark{
  animation-duration: 300ms;
  animation-name: light-dark;
  animation-fill-mode: both;

}

@keyframes light-dark{
  0% {
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
  }
  100% {
    background-color: wheat;
    box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);    
  }
 
}

.editor-block-dark-light{
  animation-duration: 300ms;
  animation-name: dark-light;
  animation-fill-mode: both;

}

@keyframes dark-light{
  0% {
    background-color: wheat;
    box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
  }
  100% {
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
   
  
  }
}

.unstyled-to-editing{

  animation-duration: 3000ms;
  animation-name: unstyled-to-editing;
  animation-fill-mode: both;
}




@keyframes unstyled-to-editing{
  0% {
    background-color:unset;
    /* box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12); */
    /* box-shadow: unset; */
  }
  100% {
    background-color: wheat;
    /* box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);     */
   
  
  }
}



.editingBlock{
  background-color: wheat;
}

.shadowOff{

  background-color: lemonchiffon;
  box-shadow: unset;
  transition: all 1000ms;
}


.shadowOn{
  background-color: wheat;
  box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);    
  transition: all 1000ms ease-in-out 
}


.shadowEntering{

  animation-duration: 1000ms;
  animation-name:shadowEntering;
  animation-fill-mode: both;
  /* transition: box-shadow, 1000ms; */
}

.shadowLeaving{
  animation-duration: 1000ms;
  animation-name:shadowLeaving;
  animation-fill-mode: both;
  /* transition: box-shadow, 1000ms; */

}

@keyframes shadowEntering{
  0% {
    background-color: unset;
    box-shadow: unset;
  }
  100% {
    background-color: wheat;
    box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);    
   
  
  }
}

@keyframes shadowLeaving{
  0% {
    background-color: wheat;
    box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);    
  }
  100% {
    background-color: lemonchiffon;
    box-shadow: unset;
  }

}




.shadowOff-to-Light{
  animation-duration: 3000ms;
  animation-name:shadowOff-to-Light;
  animation-fill-mode: both;

}

@keyframes shadowOff-to-Light{
  0% {
    box-shadow: unset;
  }
  100% {
    /* background-color: wheat; */
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
   
  
  }
}


.shadowOff-to-Dark{
  animation-duration: 3000ms;
  animation-name:shadowOff-to-On;
  animation-fill-mode: both;

}








.rotate1-1{
  filter:drop-shadow(0px 0px 0px rgb(0 0 0 / 0));;
  animation-direction: alternate;
  animation-duration: 300ms;
  animation-name: rotate-frame;
  animation-fill-mode: both;
  color:unset;
  /* transition: all 300ms; */
}

.rotate1-2{
 filter:drop-shadow(0px 0px 0px rgb(0 0 0 / 0));;

 color:unset;
  /* transition: all 300ms; */
}
.rotate2{
  /* animation-direction: alternate;
  animation-duration: 300ms;
  animation-name: rotate-frame;
  animation-fill-mode: both; */
  filter:    drop-shadow(1px 1px 2px rgb(0 0 0 / 0.7));


}



@keyframes rotate-frame{
  0% {
    filter:    drop-shadow(2px 2px 2px rgb(0 0 0 / 0));
    /* transform:rotate(0) */
  }
  100% {  
    /* transform:rotate(360deg); */
    filter:    drop-shadow(1px 1px 2px rgb(0 0 0 / 0.7));
  }
}





 .font-bar-block{

  /* background-color: brown; */

  background-image: linear-gradient(45deg, red 0%, blue 100%);
  color: #aaa;
  opacity: 0.5;
} 

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-red{
  color:red;
}

.hide{
  overflow: hidden;
  position: relative;

}

.unselectable{
  user-select: none;
}

.unstyled-block{
  position: relative;
  /* background-color: skyblue; */
}
.unstyled-block2{
  background-color: lightgreen;
}


/* .unstyled-text-draft-block::before{
  content:"+";
  color: #E2202D;
  position: absolute;
  right:0;
  background-color:pink;
}

.unstyled-text-draft-block:hover::before{
cursor: pointer;
} */