body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image-block-figure + .image-block-figure{
  margin-top: 4px;
}

.unstyled-text-draft-block{
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  /* z-index: 100; */
}

 .font-bar-block{

  /* background-color: brown; */

  background-image: linear-gradient(45deg, red 0%, blue 100%);
  color: #aaa;
  opacity: 0.5;
} 

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}




/* .unstyled-text-draft-block::before{
  content:"+";
  color: #E2202D;
  position: absolute;
  right:0;
  background-color:pink;
}

.unstyled-text-draft-block:hover::before{
cursor: pointer;
} */