body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image-block-figure + .image-block-figure{
  margin-top: 4px;
}

.unstyled-focus-on{
  -moz-osx-font-smoothing: grayscale;
}

.unstyled-focus-on > div[data-offset-key]{
  position: relative;
  z-index: 100;
}


.unstyled-focus-off{
  -moz-osx-font-smoothing: grayscale;
}

.unstyled-focus-on > div[data-offset-key]{
  position: relative;
  z-index: 0;
}


.unstyled-block{
  -moz-osx-font-smoothing: grayscale;
  /* background-color:#faf; */

  transition: all 300ms;
}



.editor-block-light{
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgoldenrodyellow;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
  transition: all 300ms;
}


.editor-block-dark{
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat;
  box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
  transition: all 300ms;
}



.editor-block-light-dark{
  animation-duration: 300ms;
  animation-name: light-dark;
  animation-fill-mode: both;

}

@keyframes light-dark{
  0% {
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
  }
  100% {
    background-color: wheat;
    box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);    
  }
 
}

.editor-block-dark-light{
  animation-duration: 300ms;
  animation-name: dark-light;
  animation-fill-mode: both;

}

@keyframes dark-light{
  0% {
    background-color: wheat;
    box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
  }
  100% {
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
   
  
  }
}








.rotate1-1{
  filter:drop-shadow(0px 0px 0px rgb(0 0 0 / 0));;
  animation-direction: alternate;
  animation-duration: 300ms;
  animation-name: rotate-frame;
  animation-fill-mode: both;
  color:unset;
  /* transition: all 300ms; */
}

.rotate1-2{
 filter:drop-shadow(0px 0px 0px rgb(0 0 0 / 0));;

 color:unset;
  /* transition: all 300ms; */
}
.rotate2{
  /* animation-direction: alternate;
  animation-duration: 300ms;
  animation-name: rotate-frame;
  animation-fill-mode: both; */
  filter:    drop-shadow(1px 1px 2px rgb(0 0 0 / 0.7));


}



@keyframes rotate-frame{
  0% {
    filter:    drop-shadow(2px 2px 2px rgb(0 0 0 / 0));
    /* transform:rotate(0) */
  }
  100% {  
    /* transform:rotate(360deg); */
    filter:    drop-shadow(1px 1px 2px rgb(0 0 0 / 0.7));
  }
}





 .font-bar-block{

  /* background-color: brown; */

  background-image: linear-gradient(45deg, red 0%, blue 100%);
  color: #aaa;
  opacity: 0.5;
} 

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-red{
  color:red;
}

.hide{
  overflow: hidden;
  position: relative;

}

.unselectable{
  user-select: none;
}


/* .unstyled-text-draft-block::before{
  content:"+";
  color: #E2202D;
  position: absolute;
  right:0;
  background-color:pink;
}

.unstyled-text-draft-block:hover::before{
cursor: pointer;
} */